PORT=8080

GEMINI_MODEL=gemini-omni-flash-preview
GCP_PROJECT_ID=your-gcp-project-id
GCP_LOCATION=global

GCS_BUCKET_NAME=your-frameverse-bucket

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=frameverse

GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account-key.json